<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-extjs-common">
        <!-- this is header-extjs-62-->
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/extjs/6.2.0/build/classic/theme-classic/resources/theme-classic-all.css}"/>
        <script type="text/javascript" th:src="@{/webjars/extjs/6.2.0/ext-bootstrap.js}"></script>
        <script type="text/javascript"
                th:src="@{/webjars/extjs/6.2.0/build/classic/theme-classic/theme-classic.js}"></script>
        <script type="text/javascript"
                th:src="@{/webjars/extjs/6.2.0/build/packages/charts/classic/charts.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/extjs/6.2.0/build/classic/locale/locale-ru.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/extjs/6.2.0/build/packages/ux/classic/ux.js}"></script>
    </div>
</head>
<body>
</body>
</html>